NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=kf20sltn
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=cinecookbook_preset
CLOUDINARY_API_KEY=392846664621523
CLOUDINARY_API_SECRET=jQW4nczEVaGgk3A1BPiY8urWswY
DATABASE_URL=postgresql://user:password@localhost:5432/cinecookbook
